nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow:2px 2px 10px rgba(0,0,0.15) ;
    padding: 1vw 8vw;
    position: fixed;
    width: 90%;
    background-color:#FFF;
}

nav img{
    /* float: left; */
    /* margin-left: 0px 0px 0px 30px; */
    width: 60px;
    height: 60px;
    cursor: pointer;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end ;
    align-items: center;
}
nav .navigation ul li{
    list-style: none;
    margin: 10px;
}
nav .navigation ul li a{
    text-decoration:none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}
nav .navigation ul li a:hover{
    color: #fdc93b;
}
#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url(/IMAGES/back.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: top 40px;
    align-items: center;
}
#home h2 {
    color: red;
    font-size: 2.26rem;
    letter-spacing: 1px;
}
#home p {
    color: red;
    font-size: 0.9rem;
    letter-spacing: 1px;
    /* height: 50px; */
    width: 50%;
    line-height: 25px;
}
#home .btn{
    margin-top: 30px;
}
#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color:#fff ;
    font-weight: 600 ;
    border-radius: 5px;
}
#home a.blue {
    color: #fff;
    background-color: rgb(21, 21, 100);
}
#home a.blue:hover {
    color:rgb(21, 21, 100);
    background-color:#fff;
}

#home a.yellow {
    color: #fff;
    background-color: #fdc93b;
}
#home a.yellow:hover {
    color:#fdc93b;
    background-color:#fff;
}
#features {
    /* padding-top: 5vw ;
    padding-bottom: 0;
    padding-left: 8vw;
    padding-right: 8vw; */
    padding: 5vw 8vw 0 8vw;
    align-items: center;
    text-align: center;
 } 


/* .headings {
    padding: 8vw 5vw 0 8vw;
    text-align: center;
} */
div.fes-base{
    background: #f9f9f9;
    text-align: start;
}